#banner{
background: url('../img/banner.png');
height: 400px;
width: 100%;
background-size: cover;
}

.banner-block{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 100px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Lilita One', cursive;
}

.banner-block h1{
    text-transform: uppercase;

}

.subtitle{
    font-size: 21px;
    font-weight: 400;
}

.learn-more{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: seashell;
    display: block;
    width: 170px;
    box-sizing: border-box;
    background: #ca0500;
    margin: 0 auto;
}

a:hover{
    color: yellow;
}

.navitem{
    font-family: 'Montserrat', sans-serif;
}

.benefits-text {
    color: whitesmoke;
}

footer {
    height: 80px;
    color: whitesmoke;
}